@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');


html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 2000px;
    overflow-x: hidden;
    font-family: 'Exo', sans-serif;
    background: #cc9b6d;
}

.container{
    max-width: 600px;
    margin: 200px auto;
    width: 90%;
    padding: 200px 0;
    position: relative;
}


.img-container{
    padding-bottom: 100%;
    background: #000;
    position: relative;
    overflow: hidden;
    z-index: 2;
    background-image: url(img1.png);
    background-size: cover;
    background-position: center;
}


.text{
    color: #fcecdd;
    margin: 0;
    font-size: 64px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: -30%;
    transform: translateY(-50%);
    z-index: 1;
    text-transform: uppercase;
    white-space: nowrap;
}


.text-dark{
    color: #e1701a;
}

.text span{
    position: relative;
    display: block;
}















